[2017-01-04 16:06] damphyr opened #1 "How do we write an open source book?"
Let me kick this off by asking the obvious: how are we supposed to do this?

[2017-01-04 17:34] abeggchr commented on #1
I'll add a readme with more details in a few days.

2017-01-04 17:06 GMT+01:00 Vassilis Rizopoulos <notifications@github.com>:

--
Choose Facebook, Twitter, Instagram and hope that someone, somewhere cares.

[2017-01-04 18:12] abeggchr commented on #1
We plan to start with a pilot containing about 6 articles in the next 2 weeks.

We are currently setting up the tooling. As soon as this is done, we will invite some candidate-authors that were active in the initial Yammer discussion.

The goal of the pilot is to gain experience on: How do we write an open source book? We will scale out to many articles after that.

[2017-01-05 17:45] bruderol commented on #1
Basicaly it will be done by using the gitbook tooling, which is very easy to use and great for writing technical documentation or even books:
https://www.gitbook.com/

As Christian said, we will set it up and then let you know about how you can contribute.

[2017-01-05 17:50] bruderol opened #2 "Setup GitBook Tooling"
Setup initial book using gitbook tooling.

Acceptance criterias
* Initial setup
* A first draft for an article (kind of an initial first version of a template)
* Some readme how to use it

[2017-01-05 17:53] bruderol opened #3 "Deployment Script to publish"
A simple script to publish the book easily (currently not automated on a build server, just to trigger it localy, when needed).

[2017-01-05 17:55] bruderol commented on #1
To precise this a little bit: So basically everybody who wants to contribute an article will be able to do this easily by Pull Request (one simple new Markdown file) and the community can then review it.

[2017-01-05 18:01] bruderol commented on #1
@abeggchr see my comments above, which is kind of a feedback to your readme. I think, that review should be done through pull requests. So an article does never go on the master branch, until it is reviewed and accepted. The master branch will only contain the published articles.

[2017-01-05 18:11] bruderol opened #4 "Choose license well"
@abeggchr why did you choose the license you choose? Maybe we can discuss once. We can do this face to face and then describe here, why we decided to use the license choosen. Thanks!

[2017-01-05 18:13] bruderol commented on #3
I prepared github pages, so we can easily publish here: https://zuehlke.github.io/zuehlke-book/

this reflects the /docs folder of the master branch

[2017-01-05 19:21] abeggchr opened #5 "Setup basic tracking view"
Implement a build script that generateas a basic view to track the current status of the project.

Draft:

Tracking view
=========

Articles being written
-----------------------
* Title Article A / Author A (mail)
* Title Article C / Author C (mail)
Total 2 (mail all authors)

Articles in review
-------------------
* Title Article B / Author B (mail) / Reviewer (mail)
Total 1 (mail all authors an

[2017-01-09 11:27] bruderol commented on #1
@abeggchr
Ok, I finally found some time to make a detailed review of the README.md and to propose changes according to my ideas of how I think we should be working (with issues, feature branches, etc. as usual in github projects). I hope you can agree with most of my changes and comments. See also `TODO`-comments for points that might need further clarification and detailing/corrections.

See my P

[2017-01-09 11:58] bruderol opened #7 "@abeggchr configure git correctly for future commits!"
@abeggchr

your commits do not have appropriate author information set. Your email with which you commited is not properly assigned to your github account!

Either attach the email with which you commited to your github account or otherwise make sure to allways configure your local git correctly, as described here:
* https://git-scm.com/book/en/v2/Getting-Started-First-Time-Git-Setup
  or also her

[2017-01-09 11:59] bruderol commented on #7
See your commits, e.g. https://github.com/Zuehlke/zuehlke-book/commit/ccf1fed7bccea97d0a32f74c0e0c73979cfe677a - they do not link to your github profile as an author.

[2017-01-09 12:00] damphyr commented on #1
Going through the README the first thing I notice is: too many steps to create an article!

Now, given our pool of authors, which tool/scripting language is most likely to be available so that an author can to something like
[code]
and get  everything in the right place and the right format? I would still keep the doc of the manual process on hand for those who don't want to install a build toolch

[2017-01-09 12:15] bruderol commented on #1
I think we can expect a Software Engineer that he can quickly fork a repo, make a feature branch, copy one text file, change it and commit it. In fact there is not much more than that to do (and to list that file in the SUMMARY.md).

If anybody has problems to do so, we will provide help.
And yes, later we might even think about making a script for this.

Important: For any toolchain or additional

[2017-01-09 12:21] bruderol opened #8 "Article: Example first article"
Just a dummy first example article, for we have some test data.

[2017-01-09 14:51] damphyr commented on #1
How do we get ahold of the gitbook tooling?

Maybe I'm missing something because I keep landing on the "Bookwriting as a service" site.

[2017-01-09 14:54] damphyr commented on #1
Nevermind. temporary google foo failure.

https://github.com/GitbookIO/gitbook/blob/master/docs/setup.md

[2017-01-09 17:04] bruderol commented on #1
@damphyr please some patience: I will document that in the README as soon as I setup the tooling. We are still starting all this.

http://gitbook.com
and
http://toolchain.gitbook.com
might be what you need (last one is done with gitbook tooling = eat own dog food, but I think they messed it up somehow, because last time I watched this page it was with a much nicer template, but anyway ...)

[2017-01-09 19:38] abeggchr commented on #7
Attached the email to my github account and configured git locally.

[2017-01-09 19:56] abeggchr commented on #1
The usage of the gitbook editor is straight forward:

1. Fork this [repository](https://github.com/Zuehlke/zuehlke-book)
1. Clone the repository to your computer
1. Download and install [GitbookEditor](https://www.gitbook.com/editor)
1. Start the GitbookEditor (do not login)
1. Switch to the "folder" view in the left lower corner
1. Open and edit the *.md file you want (i.e. try with '/articles/te

[2017-01-09 20:19] abeggchr commented on #1
Gitbook Editor caveat 2: I am getting the following error when I switch to a branch "Branch not found for /origin/feature"

[2017-01-09 20:29] abeggchr commented on #1
Gitbook Editor caveat 3: Adding a new article is confusing. You enter the title and wich adds the title and a reference to title.md to the SUMMARY.md file. Problem is, that you can not say, where the article lies (i.e in /articles/myarticle/content.md). For editing the SUMMARY.md it is better to use a normal editor.

[2017-01-09 20:31] abeggchr commented on #2
created a branch and added a SUMMARY.md

[2017-01-09 22:48] bruderol commented on #7
Thanks - I think we have to add this to the README for nobody makes the same mistake, changing/correcting this afterwards is almost impossible (especially once it is merged to the major branch), would need to rewrite git history.

[2017-01-19 16:08] #2 closed

[2017-01-19 16:08] #7 closed

[2017-01-19 16:09] abeggchr opened #12 "Simplify readme.md"

[2017-01-19 16:10] #5 closed

[2017-01-19 16:12] abeggchr opened #13 "Size of the article (min / max)"
approxximatively 2 A5 pages

determine
controlloing (i.e. test)

[2017-01-19 16:12] abeggchr commented on #4
4.0 ok

[2017-01-19 16:12] #4 closed

[2017-01-19 21:09] bruderol commented on #12
I am working on the last TODOs and some simplification

[2017-01-19 21:19] bruderol commented on #8
I think there should be a general structure for the articles, that make them a little bit more interesting to read. An introduction or abstract, the major part, a summary in the end and some links for further information to the topic (additional blog readings, webpages, etc.).

[2017-01-31 09:44] abeggchr opened #14 "Find a title"

[2017-01-31 09:46] abeggchr commented on #14
97 pearls of wisdom

The book "97 things every programmer should know" describes itself as containting "97 pearls of wisdom".

[2017-01-31 09:46] abeggchr commented on #14
97 pearls for wisdom from Zuhlke

[2017-01-31 10:27] abeggchr commented on #12
created pull request
ready to go?

[2017-01-31 10:37] abeggchr commented on #13
97 things has:
min: 415 words 2,431 characters
max: 743 words 4,113 characters

used the following gulp script:
[code]

[2017-02-13 08:19] bruderol commented on #12
@abeggchr sorry, was too busy, I will give you some feedback today. I had some pending changes open, that I will try to merge now.

[2017-02-13 11:19] bruderol commented on #14
I think we should come up with something more unique to Zühlke, not just copy-paste the original idea from the "97 things every programmer should know" - and since the number of articles will not be fixed but should vary over time, i not recommend to take the number into the title.

Some ideas:
* Experiences from Zühlke
* Zühlke Experiences
* ExperienceZ
* PearlZ
* Insights from Zühlke
* InsightZ

[2017-02-13 13:05] bruderol commented on #13
I proposed now to allow a maximum of approximately 2 A4 pages - but we can still make is more strict.

If you want we could as well setup a build to check this very strict rules.

But I am not sure whether it is a good idea to be so strict about the length right from the start as long as we do not print it yet. We might keep that open and then shorten the articles when we go for a printed version

[2017-02-13 13:08] bruderol commented on #12
@abeggchr please see my two commits on the Pull Request #15: I overworked the README.md as well and merged my changes with yours and tried to improve even more such that it should be now understandable for everybody, even without git or github know how.

Can you please read through everything once again - Is it okay like that?

I think now we can go for a test run with these explanations.
Or what

[2017-02-13 16:51] abeggchr commented on #12
I think now we can go for a test run with these explanations.

[2017-02-13 16:51] #12 closed

[2017-02-13 16:56] abeggchr commented on #13
"short enough to be read in 10 minutes: size should be less than 2 A4 pages long in printout PDF version."

I don't think 2 A4 pages can be read in 10 minutes. 1 A4 page?

[2017-02-14 06:58] bruderol commented on #13
I think we should not restrict the length too much. But why not just wait, write some first articles and then discuss about what is a typical good size of a valuable article.

[2017-02-15 09:42] abeggchr opened #18 "Add possibility to add links, resources etc."

[2017-02-15 09:43] abeggchr commented on #1
Closing this issue as the README.md for the pilot is written. New, more concrete issues should be opened during the pilot.

[2017-02-15 09:43] #1 closed

[2017-02-15 09:43] abeggchr opened #19 "Design a book cover"
Regarding a printed version of this collection: we need a book cover

[2017-02-15 09:46] abeggchr commented on #8
I'd leave the form (abstract, major part, summary) open to the authors.
Regarding further information I added issue #18.

@bruderol please close this issue if you agree

[2017-02-15 09:50] abeggchr opened #20 "Article: Use a time management technique already"
Content:

- Why should you structure your work and use a time management technique: focus!
- Various techniques (gtt, pomodoro, personal kanban)
- Short introduction to pomodoro technique
- Takeaways (breaks, focus, free your mind, handle interuptions)

[2017-02-15 09:52] abeggchr commented on #13
ok

[2017-02-15 09:52] #13 closed

[2017-02-15 11:05] peitor opened #21 "Article: Start with the Why"
Content:

- Do you solve the right problem? and How do you know?
- How do you measure the success of your product?

[2017-02-15 11:07] peitor opened #22 "Article: How do you balance "working hard" and "working on the right thing"?"
Tips and tricks for a team that is great with engineering skills but doesn't know if they build the right thing.

Discussion about "build it right" vs "build the right it".

[2017-02-16 17:48] bruderol commented on #8
I think we should at least ask every author to write a short abstract in the beginning. But it is okay for me to leave the rest of the form of the article up to the author and just recommend them to put some links to additional resources at the end of the article.

[2017-02-16 17:57] bruderol commented on #1
@damphyr Can you review it? What do you think? Something you could contribute? Just give it a try - we started the pilot phase now and you can start to contribute, if you like. Looking forward to your articles ... :-)

[2017-02-16 17:59] bruderol commented on #3
I once started something, should be easy to setup.

[2017-03-02 23:26] adiherzog commented on #21
Just some thoughts when reading the title and the description:

Is this related to Simon Sinek's "Start With Why"?

* https://www.youtube.com/watch?v=sioZd3AxmnE
* https://www.startwithwhy.com/

I think it should at least have a reference to it, because that's what many people could think you are talking about. And it should probably also consider other authors with a similar message, for example

[2017-03-02 23:34] adiherzog commented on #20
I don't know whether this is related: apart from managing what to do in what order I think there are also different types of quality that a certain time slice in a day can have. There's
* daily standup time
* not so interesting but somehow important meeting time
* coffee break time
* brainstorming something before the whiteboard with somebody else time
* trying to get things done but being constan

[2017-03-03 05:30] peitor commented on #21
Hey @adiherzog, great input.
I think we have our 1st article almost already. What if you use your input as a starter and finish it up?

[2017-03-03 08:15] tknerr opened #23 "Article: Git Branching Models Dissected"
There is the very popular "GitFlow" model:
http://nvie.com/posts/a-successful-git-branching-model/

As a contraposition, there is the "Cactus" model:
https://barro.github.io/2016/02/a-succesful-git-branching-model-considered-harmful/

I don't agree that either of these is a silver bullet, and I have an opinion on which of the two models fits well in which context (which both of the authors lacked

[2017-03-03 08:29] tknerr opened #24 "Article: Codify your Developer VMs!"
I believe many people are already codifying their server infrastructure as code via Chef, Ansible, etc, but setting up Developer VMs in an automated fashion is probably something only few people do.

There is 45 minutes conference talk I have to prepare some slides / examples for, and I believe that some of that material could be reused here.

To be discussed in this article:

 * why you want to d

[2017-03-06 14:33] peitor commented on #21
Key messages:

- Where should we focus as developers?
- Definition of Done: from "Feature is delivered" to "Deployed to Production and metrics coming in"

http://business-agility.tumblr.com/post/156618020634/are-we-all-focusing-on-the-right-metric-of

[2017-03-07 21:50] adiherzog commented on #21
Just found this by accident, seems relevant: GOTO 2012 • Frankenbuilds; if Agile is so good, why are our Products so bad? • Gabrielle Benefield (https://www.youtube.com/watch?v=2JNXx8VdbAE)

[2017-03-07 21:50] adiherzog commented on #21
Maximize outcome, not output!

[2017-03-07 22:00] adiherzog commented on #21
Build up empathy for the user (e.g. by getting to actually know them, write personas, etc.). But don't ask they user what they want, they don't know (“If I had asked people what they wanted, they would have said faster horses.” - Henry Ford). Find out what they need instead (and what the business needs that wants to build the system).

[2017-03-07 22:33] adiherzog commented on #21
Ignore your mother, build it fast, dirty and cheap. Get rapid feedback.
Remove inessential features, don't just add more and more features.
Many legal contracts between customers and suppliers incentivize to build more. Instead we should try to get the outcome we want with as little effort as possible. Save the features, save the planet.
Share the metrics with the developers. They have a game in m

[2017-03-08 09:46] mdf88 opened #25 "Article: "Meet with users - often" or similar"
When an agile team should meet users and what for and how they could meet with users, good and bad examples from the trenches.

[2017-03-08 10:05] mdf88 commented on #21
Personally I don't care that much about the "why" but about the "what for", the purpose.

And there are a few very basic questions you need to have clear understanding about

1) For whom and what situation are you creating the product (service/system)? What will they want to achieve?
2) How relevant is this for them?

Inseperable with this question is the following:
3) What are possible solutions

[2017-03-09 10:34] mdf88 commented on #25
Fragen von Christian Abegg
•	Warum sollte ich die Benutzer treffen (Problemstellung)
•	Abschreckende Beispiele, wenn man es nicht macht
•	Ideale Vorgehensweise
•	Praktische Tipps, wie man das erreichen kann, wenn
o	Einem vom Kunden her der Zugang versperrt wird («wir kennen den Benutzer»)
o	Man den Benutzer gar nicht kennt
o	Der Benutzer ich selber sein könnte

[2017-03-09 12:17] damphyr opened #26 "Article: When is a build system a build system?"
3+1 rules for build systems that enable us to easily build CI around them.

The original [blog post](http://www.ampelofilosofies.gr/software/2014/07/17/vars-build-rules) works as a very good summary.

[2017-03-09 12:18] damphyr commented on #26
I have a problem finding a book-appropriate title :)

[2017-03-09 12:22] damphyr opened #27 "Play that funky music white boy: The impact of naming things"
We talk a lot about technical solutions to software development problems yet we forget that most of the work we do is addressed not to the computer but to our team members and stakeholders.

The truism in the ranks of the developers runs "Naming is one of the hardest software development problems". Properly (or appropriately) naming things is a powerful communication tool.

It can also be fun. Thi

[2017-03-09 18:06] tknerr commented on #27
+1 naming things is hard, and you have to try hard until you find the right name but it's totally worth it

[2017-03-11 08:20] abeggchr commented on #26
Freely associating....
- Build server to the rescue
- The (not so hidden) force of a build server
- Treat the build server as a first class teammate
- Make the build your buddy
- About the importance of a build process
- Give the build the force/weight/importance it deserves

Not a match so far, but I hope it gets your ideas sparkling.

[2017-03-11 08:25] abeggchr commented on #21
@adiherzog would you like to take over the lead for this article? And would you like to contribute it during the pilot (until end of may) or later?

[2017-03-11 13:14] damphyr commented on #27
Although this is not about naming stuff in code :)
It about naming stuff in a project (like your test servers) and how it can serve multiple purposes in communication, identification and ownership

[2017-03-11 13:18] damphyr commented on #24
Word up! ;)

Can we work the immutable vs. mutable infrastructure argument in there and explain why we choose to go vanilla+provisioning for dev VMs?

[2017-03-11 13:19] damphyr commented on #23
I actually want the opinionated parts in focus in this.

[2017-03-12 10:16] damphyr commented on #14
Wisdomz: Zühlke learns from Zühlke

[2017-03-12 13:46] abeggchr commented on #14
CondenZed: Condensed knowledge from 50 years of Zuehlke

[2017-03-15 17:58] tknerr commented on #24
@damphyr you mean why not setting them up manually and carefully crafted with love by hand?

Why did we choose vanilla+provisioning? (=> wanna check if our arguments / reasoning matches ;-))

[2017-03-15 18:04] tknerr commented on #27
@damphyr oh I see. Yes naming your infrastructure can be fun.

We once had a java project using GlassFish (product name) as an app server. Our test environment was called the "fishbowl" and the glassfish instances therein were named like fish ("hering", "makrele", but we also had "surstroemming", "arielle", and the like... )

It definitely raised the fun I would say ;)

[2017-03-17 15:33] mqvortrup opened #28 "Article: Architecture is a process, not an artifact"
Too many people nowadays have lost sight of the fact that architecture - be it software, solution, enterprise, system, database or whatever architecture - is really a process, and not an artifact.

Thinking about how you shape a solution, which limitations to accept, which tools you use for what purpose and why, what problem we are trying to solve and why is a fundamental aspect of good software e

[2017-03-21 10:23] bruderol commented on #23
See https://www.yammer.com/zuehlke.com/#/Threads/show?threadId=832088152
and some other threads in yammer were we discussed allready similar topics.

I think the article should give a clear view on how to work in a usual Zühlke project with those models and should be "pragmatic" and practical and not dogmatic about only one of these models.

@tknerr I have an oppinion on that one, that I would lik

[2017-03-21 11:55] tknerr commented on #23
@bruderol yes sure, would love that. Just a matter of getting some non-project / friday slack time for this on my side currently...

The discussion linked above (feature branches / pull requests) is more of the micro view. There is also the macro view (release branches, cactus vs gitflow, etc) which I'd like to discuss in this article.

And there is also an earlier discussion on that which I found

[2017-03-21 12:04] bruderol commented on #23
we could also make several articles out of it, if the topic gets too complicated.

[2017-03-21 12:05] bruderol commented on #23
and we can link to additional material (like fowler's blog, trunk based dev blog, git flow, my dev guidelines, ...)

[2017-03-21 12:05] tknerr commented on #23
+1 for splitting if it gets too big / complex

[2017-03-21 12:10] bruderol commented on #14
I like the "from more than 50 years of Zuehlke" as a sub title - and either CondenZed, WisdomZ or ExperienZEs or something similar as the main title.

[2017-03-21 12:11] bruderol commented on #14
ExperienZE: Experience the Experiences of Zühlke Engineering (=ZE) ;-)

[2017-03-21 13:01] tknerr commented on #14
Do we want the explicit Zuehlke branding in the title?

Just asking.

If it's meant for Zuehlke employees only as the audience that fits perfectly.

If we want it as a book for everyone (because the experiences therein are generally applicable and work other people's context too) I would prefer a more neutral title -- otherwise people might get dragged a away because they think "only works for Zue

[2017-03-21 14:50] bruderol commented on #26
+1 for "treat the build server as a first class team member" - if not "as the most important team member" ;-)

[2017-03-23 12:20] bruderol commented on #14
agree with @tknerr - maybe a more neutral title would be better - we can still put the zuehlke logo somewhere and Zühlke is already given by the fact that it is hosted and publshed on our zuehlke github account

[2017-03-23 12:21] bruderol commented on #28
great - I would like to read that :+1:

[2017-03-23 12:28] bruderol commented on #24
sounds great :-)

[2017-03-23 12:54] bruderol opened #29 "No Word or Wikis anymore - Documentation belongs together with your Software"
* why not using word or wikis for Software Documentation (architecture, spec, developer docu, user docu, ui guidelines, testing concept, operations docu, etc.) anymore?
    * because word sucks ;-)
    * because wikis have some disadvantages as well (at least one!)
* advantages when docu is in your source repository
    * versioned together with the software (which docu belong to which version?)

[2017-03-23 13:09] damphyr commented on #24
Immutable infrastructure is the part where when we require a new server/node/workstation we throw the old one away and create a new one in it's stead.

This works OK for production and server environments but in the case of development a typical Windows VM ways in at about 100GB which even in modern networks requires a significant time to replace.

The second argument for mutability/updateability

[2017-03-23 13:16] damphyr commented on #29
I had a lot of arguments for this, I believe in it and push it all the time.

But...there is a case for Confluence (or similar Wiki infrastructure) and it becomes stronger the more non-technical stakeholders you have in a project.

So higher level documentation (such as generic architecture and flow explanations, workflow descriptions, DoDs etc.) that have to be communicated to non-devs live in th

[2017-03-24 06:48] tknerr commented on #29
The "problem" with architecture documentation is that it doesn't fit into a
single repository (unlike a README and CHANGELOG).

Except you have a dedicated "documentation" repo, for sure. Guess this is
what you mean?

I love markdown and jekyll / hugo of the sorts, but sometimes you need a
bit more formatting options / flexibility. I have seen people using
asciidoctor for this, but haven't used it

[2017-03-24 07:01] tknerr commented on #24
Yes, that was my evil plan ;-)

I got your point with immutable infrastructure, but imho it's really in CI
where we have a special case of that.

If you are talking about immutable infrastructure on the server side that
is debatable though, and imho rather a use case for containers / docker
than for configuration management tools like chef etc (which try to keep an
existing system in the configura

[2017-03-24 18:46] bruderol commented on #29
@damphyr: In my current project also non devs (e.g. ui designers and testers) are contributing to the documentation that is in git and I do not see why this should not be possible. For non techies, it is allmost the same as editing in a wiki, with the tooling we use.

[2017-03-24 19:48] bruderol commented on #29
And yes, I will of course relativate it in the article, to only use it for the long living documentation that you want to evolve together with that software you are building. and of course for some documents a Confluence is still worthful - use it for things like input documents, discussion protocolls, some presentations, other administrative stuff and other not so long living documents that do no

[2017-03-24 19:58] bruderol commented on #29
By the way -  here is an example of such a documentation (far from optimal, but hey, this is just a part time project and it is still evolving ... ):
http://scenarioo.org/docs/

[2017-03-24 20:04] bruderol commented on #24
@tknerr very good point, I would propose that you not pack too much into one article, so if you also want to talk about the immutable infrastructure aspect, you might want to put that into a separate article, to keep the first article more simple.

[2017-03-25 14:11] tknerr commented on #29
That being said, a "Guide on Structuring Git Repos" eg when to use monorepo
and when not (or the pros and cons and tradeoffs of using either approach),
would be worth an article too

Am 24.03.2017 8:48 nachm. schrieb "Rolf Bruderer" <notifications@github.com

[2017-03-26 22:44] adiherzog commented on #21
@abeggchr Yes, I would like to contribute this article, but I can't promise yet that I can finish it for the pilot.

@mdf88 Thanks for the input. I can see that "what for?" has a stronger focus on purpose while "why?" has a stronger focus on explaining a cause. Just found a nice example here: https://www.englishforums.com/English/WhatForVSWhy/xrkml/post.htm

As we are in the business of creating o

[2017-03-27 18:49] peitor commented on #21
I like that.
That goes in the direction of focusing on the impact.
* How is the world better with your product/service?
* How differently are people behaving?

[2017-03-28 19:30] peitor commented on #23
I would add another viewpoint to this article:
 "What problem are Feature Branches solving?" --> Are the other options to solve this?

[2017-03-29 18:00] bruderol opened #31 "Article: Don't be Dogmatic! Be Agile and Pragmatic!"
Be aware to not follow stupidly any dogmatic `set of rules` without thinking well about consequences or even doing it in a way it was never meant like (e.g. overdoing it, exagerating the original meaning or even using those dogmas to not having to discuss and argument anymore ...)

Some examples of such rules that do more harm than any good if followed just blindly and in a dogmatic way or done wi

[2017-03-29 18:33] bruderol commented on #31
By the way: I am well aware that this is a big challenge for all of us to not fall into that "dogma" trap - I have fallen into that trap many times as well and have to fight every day to not fall into it.

[2017-03-31 22:52] adiherzog commented on #31
In 2001 a part of the software testing community created "The Seven Basic Principles of the Context-Driven School" (see http://context-driven-testing.com/). It was the same year when the agile manifesto was created. Despite the good intentions of the agile manifesto back then I think that it happens too often that people fall into the dogmatic trap by just following out-of-the-box agile methodolog

[2017-03-31 23:06] adiherzog commented on #31
Ah, and you could use this quote as an introduction or in the end (I don't know where I got it from...).

"When two smart people disagree, one of them is probably missing some context."

https://twitter.com/adi_herzog/status/799803597491998725

[2017-04-01 10:34] bruderol commented on #31
@adiherzog Yes, those are as well some good points. Thank you!
I will have to see what of all of these ideas fits into that one article.

"Heuristic" sounds to mee to academic. I rather try to use the term "guide" instead of "guideline" or "rule", cause that says what it should be: some "guidance" into right direction, without stopping to think whether it makes sense in some context, and not stric

[2017-04-01 10:46] bruderol commented on #31
had some funny nerdy discussion yesterday with some colleagues about "dont use static methods!" versus "static is great, make everything static first!" - somehow reminds me of this topic here. ;-)

[2017-04-09 11:51] adiherzog commented on #21
Design Thinking puts "Empathize" first, as a title for "identifying and understanding customer needs": https://www.zuehlke.com/ch/en/about-us/academy/training/details/design-thinking-en/

Maybe that's even better than "What for"...

I'm a bit hesitant about writing this article, for the following reasons:

**This topic is so basic that everybody should already know it**

Counter argument to this c

[2017-04-09 17:19] adiherzog commented on #21
So here's a customer asking us to solve a problem for him. There are three quite different ways we can see our role as software developers, depending on whether we see our main duty to ask for **How?**, **What?** or **What for?**:

![three_conversations](https://cloud.githubusercontent.com/assets/3780183/24839283/cd768f4c-1d57-11e7-8eae-cbf30059de27.png)

If we are really concerned about deliverin

[2017-04-09 17:43] peitor commented on #21
Awesome!!! I ❤ the images!

*  The flow diagram is great. Maybe you could draw it as a comic? (Popular these days...)
* The last image clearly shows we found a different+smaller (better) solution for the problem <-- NICE!!

[2017-04-10 08:36] adiherzog commented on #21
Glad you like it :-) Yeah, a comic would be nice.

Just learned about another related principle: https://de.wikipedia.org/wiki/Subsidiarit%C3%A4t / https://en.wikipedia.org/wiki/Subsidiarity

It originated in the Roman Catholic Church...

[2017-04-10 08:38] adiherzog commented on #21
Ah, and there's micro-management as a negative example...

[2017-04-10 08:40] adiherzog commented on #21
New idea for a title: "Optimize Outcome, not Output"

[2017-04-15 08:32] abeggchr commented on #14
Agree with @tknerr: including Zuehlke in the title should be a deliberate decision. I'd prefer a title without a prominent Zuehlke in its name. In the subtitle (which might not be printed on the cover) it
 is okay for me.

[2017-04-15 08:34] abeggchr commented on #14
Do partially not agree with @bruderol: I think a creative title can include the number of articles. For a printed version the number is fix (i.e. the pilot edition uses 6, the first edition something higher) and for a digital edition, it can change daily (i.e. on a nightly build).

[2017-04-15 08:36] abeggchr commented on #14
From Zuehlke With Love

As a subtitle, referencing James Bond "From Russia with Love", a movie which is - damn it - 5 years older than Zuehlke.

[2017-04-15 08:46] abeggchr commented on #14
97 candies

Inspired by the movie "candy" which is on place 32 of the "Most Popular Feature Films Released 1968-01-01 to 1968-12-31" in imdb (see http://www.imdb.com/search/title?sort=moviemeter,asc&title_type=feature&year=1968,1968)

I do also like "Chitty chitty bang bang" from that list. No idea for a title though.

[2017-04-15 09:00] abeggchr commented on #14
50'000 feet away from "Hello World"

[2017-04-15 09:01] abeggchr opened #33 "Tooling: Add possiblity to include pictures"

[2017-04-15 09:05] abeggchr commented on #8
Do not agree with @bruderol: I do not think a summary is required in the beginning of a 10min read. I consider it a good writing practice to start with a problem situation and then dive into the solution. This attracts a reader and if she doesn't agree on the problem, she will skip the article.

Either way, I would really leave the form open to the authors.

[2017-04-15 09:09] abeggchr commented on #21
I added the article to the pilot and I hope that @adiherzog can come up with something in the next weeks (regarding the massive load of discussion here, I am quite optimistic!)

[2017-04-15 09:11] abeggchr commented on #20
Thanks for your input @adiherzog

I'll certainly cover the topic of focus and interuptions. Hope to be able to cover some of your other aspects as well.

[2017-04-15 22:50] adiherzog commented on #25
Maybe this video would be a good illustration: https://www.youtube.com/watch?v=szr0ezLyQHY

[2017-04-15 23:00] adiherzog commented on #28
@mqvortrup I am currently assigned to this other article here: https://github.com/Zuehlke/zuehlke-book/issues/21. They are somehow related. Do you think this is an issue?

[2017-04-15 23:00] adiherzog commented on #21
@abeggchr Yes that should be possible :-) When is the deadline?

[2017-04-25 22:57] bruderol commented on #8
summary, was not what I meant with abstract.
I agree with what @abeggchr said.
What I meant with abstract: a first short paragraph that explains what the article is about. Why should I read the article? What problem does it solve? Or why could it be interesting for me?
Abstract was the wrong word for what I meant probably.
Teaser or Problem situation is exactly what I meant. Just coming in 2-3 sen

[2017-04-25 23:04] bruderol commented on #14
@abeggchr I propose to discuss that personal once. I hope to see you on Thursday.

[2017-06-10 08:54] abeggchr commented on #18
Vorschlag: Neben dem "article.md" file gibt es noch ein zweites "article.resources.md" file welches ebensolche Resourcen enthält.

Warum nicht einfach am Schluss des Artikels? Wird die Artikelsammlung sowohl gedruckt als auch digital (web, ebook) publiziert, dann nützen Links in einer gedruckten Ausgabe herzlich wenig. Ich würde da dann einen QR Code abbilden welcher auf auf das "article.resources

[2017-06-30 22:27] adiherzog commented on #21
Another article on this topic that a colleague just posted on LinkedIn: http://bravenewgeek.com/engineering-empathy/

[2017-06-30 22:30] adiherzog commented on #21
http://xyproblem.info/

[2017-07-11 20:25] adiherzog commented on #21
Twitter Post by John Cutler: https://twitter.com/johncutlefish/status/775523444385382400

[2017-07-12 05:50] peitor commented on #21
https://twitter.com/_gregorilg/status/884663883172110336
Auch super mindset.

Call me to save time from emails
+41798160297

Handcrafted on a mobile device
http://blog.gfader.com/p/about-me.html

[2017-07-15 00:27] adiherzog commented on #21
@peitor @abeggchr @mdf88 @bruderol I created a first draft of the article and opened a pull request: https://github.com/Zuehlke/zuehlke-book/issues/21

It's not finished yet, but I'm curious about your feedback. For now the article is just text, but in the end it should also contain some images (e.g. something similar to the ones shown above).

[2017-07-26 21:46] adiherzog commented on #21
https://blog.leanstack.com/love-the-problem-not-your-solution-65cfbfb1916b

[2017-07-26 22:07] adiherzog commented on #21
Quantify the un-quantifiable: Tom Gilb at TEDxTrondheim
: https://www.youtube.com/watch?v=kOfK6rSLVTA

[2017-08-16 19:07] peitor commented on #14
From the grill event session:
* 50 shades of Zühlke.
* 50 shades.
* 50 shades of purple.

[2017-08-16 19:14] peitor opened #38 "Article: What do we need for customer success?"
What needs to be there to be successful as Zühlke with the customer. Aka Questions to ask....

Things that make it more likely that we succeed with you (customer):
* vision
* contact to the end user
* budget
* rough timeline

Things To validate (for the Autor):
* backlog high level
* user story map
* impact map

TODO:
Ask project management people for contribution.

Who is responsible to ask these

[2017-08-16 19:14] peitor commented on #14
"Empowering ideas"

[2017-08-16 19:33] peitor opened #39 "Article: No magic"
Avoid tools that are magic.
Don't use technologies that you don't understand.
Don't use technologies that hide too many abstractions.
Mention abstractions?

[2017-08-16 19:58] peitor opened #40 "Article: models worth knowing.."
All models are wrong

* cynefin
* 3fus model of skill acquisition
* ...

Why should you learn these?
Communication pattern,

[2017-08-16 20:09] peitor opened #41 "Ideas for Articles (feel free to pick up an idea!)"
* beware what you measure

[2017-08-22 07:57] adiherzog opened #42 "How to avoid / deal with flaky system tests"
The higher level / the broader / the bigger an automated test / check is, the more likely it can become flaky. In order to maintain a stable set of system tests, it is vital to deal with this potential flakyness. Here are some tips that can help:

1) Choose a good test design. I.e. make sure you have all components of the test under control. Don't rely on other teams systems if possible. Mock them

[2017-08-22 08:15] tobiaszuercher commented on #42
- Make it easy to repro a test in your local machine with debugger attached
- i'd be even harder: only test things which are under your control
- integrate testing into dev team, not a dedicated test team

[2017-08-22 08:16] adiherzog commented on #42
* To analyze flaky tests: run tests every hour during the night to gather more information about which tests are stable / flaky.

[2017-08-22 09:07] adiherzog commented on #42
Good point @tobiaszuercher with the debugger! This is essential.

[2017-08-23 08:18] abeggchr commented on #41
All models are wrong
cynefin
3fus model of skill acquisition
...
Why should you learn these?
Communication pattern,

[2017-08-23 08:20] abeggchr commented on #40
closing issue, moved idea to https://github.com/Zuehlke/zuehlke-book/issues/41

[2017-08-23 08:21] abeggchr commented on #41
"No magic"

Avoid tools that are magic.
Don't use technologies that you don't understand.
Don't use technologies that hide too many abstractions.
Mention abstractions?

[2017-08-23 08:21] abeggchr commented on #39
closing issue, moved idea to https://github.com/Zuehlke/zuehlke-book/issues/41

[2017-08-23 08:24] abeggchr commented on #14
move to: 50 shades of Zühlke
as current working title

-> 50 is not the number of articles but:
- a reference to the 2018 jubilee
- a reference to 5 shades of gray

[2017-08-23 08:29] abeggchr commented on #38
@peitor is this a proposal from you or more of an idea? If it is more an idea, please move to issue 41 (ideas)

[2017-09-09 12:50] ghost opened #43 "Test"
Yeah, I can open an issue without being in the "Zühlke Github Community"

[2017-09-09 14:08] #43 closed

[2017-09-09 14:58] abeggchr opened #46 "Generate e-book"
Acceptance criteria:
- on the same time, the collection is rendered as webpage to our github page (see issue #3 ), the collection is rendered as ebook (epub, mobi and pdf) as well
- the ebook is linked on the github page
- a simple cover is present

Technical notes:
- to geneerata an ebook, "ebook-convert" (aka. calibre) has to be installed on the build server
- cover sizes: Size of 1800x2360 pixe

[2017-09-17 14:59] damphyr commented on #42
Local reproduction is essential but especially in the case of flaky tests it is usually not very effective.
What happens is one developer blocks his/her machine to loop around tests in the hope of detecting errors. In reality CI nodes are usually more resource constrained than developer laptops and thus better ground for flaky tests.
A more effective way I have found is the ability to isolate a CI

[2017-09-21 15:00] adiherzog commented on #42
Thanks for the input @damphyr. Running flaky tests in a loop is a great idea to gather more information.

And a special loop environment might not even be necessary to repeat just one test:

![run test in loop](https://user-images.githubusercontent.com/3780183/30702809-3d6b289a-9eee-11e7-875d-710ddec7c8ee.PNG)

[2017-09-24 15:43] damphyr commented on #42
@adiherzog this is all one huge "it depends" discussion.
Flakiness is more common the more complex a test is. Complexity increases as we ascend the testing pyramid. The higher up we are in the integration chain, the more prerequisites need to be satisfied for a test to run (to put it differently: the initial state of a test has more boxes to tick).

So statistically, chances are you will resort to

[2017-10-11 17:36] bruderol commented on #41
@abeggchr can we close this? I think every article idea should simply be opened as an issue on its own, such that it is in the list.

[2017-10-11 17:37] bruderol opened #48 "Article: Beware What you Measure"
as proposed by @peitor on #41

feel free to pick it and detail it!

[2017-10-11 17:38] bruderol commented on #41
I close this, i opened a article for the abovce missing point by @peitor

[2017-10-11 17:38] #41 closed

[2017-10-11 17:41] bruderol commented on #38
@abeggchr disagree - every idea for an article should be an issue in the list. As long as there is no one assigned it is just an idea, or we could put a label "idea".

[2017-10-11 17:42] bruderol commented on #33
@abeggchr not supported yet?? what do we have to do? I think it is possible already.

[2017-10-11 17:44] bruderol commented on #18
und warum nicht den ganzen Artikel verlinken mit QR-code - dann finde ich dort auch alle Links - finde die Separierung in zwei Files reichlich übertrieben.

Würde aber vorschlagen dass wir vorgeben, wo die weiterführenden Links im Artikel typischerweise zu positionieren sind im Beispiel Artikel.

[2017-10-11 17:46] bruderol commented on #14
@abeggchr typo - you mean 50 shades not 5 shades - we have to hurry up for the jubilee :see_no_evil:

[2017-10-11 17:50] bruderol commented on #14
should we then migrate the repo? to what repo name?
* `50shades`
* just `shades`?
* or `shadez` ?
* something else?

remember: the URL for publsihing with github pages will be: `http://zuehlke.github.io/{repo-name}`

[2017-10-11 17:53] bruderol commented on #14
I think http://zuehlke.github.io/shades would be cool - other oppinions?

[2017-10-11 19:40] bruderol commented on #43
@abeggchr did you also try to edit what you just wrote on this issue or rename it again or set a label and things like that? ???

[2017-10-11 19:49] bruderol commented on #39
#41 is closed - let's keep every idea in a issue - I like the idea by the way

[2017-10-11 19:50] bruderol commented on #40
see #41 - I reopen!

[2017-10-11 19:58] bruderol commented on #8
I introduced a new label, such that we can see the "admin"-backlog much faster: https://github.com/Zuehlke/zuehlke-book/labels/admin

[2017-10-16 18:19] abeggchr commented on #26
Thanks for your interesting article!
It is now merged to the Zuehlke repository.

[2017-10-16 18:19] #26 closed

[2017-11-08 07:55] abeggchr commented on #18
Den ganzen Artikel verlinken macht Sinn, sofern Resources vorhanden sind.

Die Separierung in zwei Files ist zwingend, sonst muss es für das gedruckte Format manuell wieder auseinanderdividiert werden.

[2017-11-10 14:18] adiherzog commented on #42
We run our system test suite about 7 times each night against an isolated test environment (all peripheral systems mocked) and this gives us enough data to figure out which tests still have issues regarding stability.

[2017-11-21 05:33] abeggchr commented on #42
Great discussion so far. Can someone confirm, that he/she will write the article? Or shall we put the "author wanted" label?

[2017-11-21 05:35] abeggchr commented on #27
Great discussion so far. Can someone confirm, that he/she will write the article? Or shall we put the "author wanted" label?

[2017-11-21 05:36] abeggchr commented on #24
Great discussion so far. @tknerr can youconfirm, that you will write the article? Or shall we put the "author wanted" label?

[2017-11-21 05:37] abeggchr commented on #23
Great discussion so far. Can someone confirm, that he/she will write the article? Or shall we put the "author wanted" label?

[2017-11-21 11:21] adiherzog commented on #42
I would not mind writing it. But I'm also not sad if somebody else wants it.

[2017-11-21 12:54] damphyr commented on #42
@adiherzog You kinda nominated yourself then :)

[2017-11-22 07:48] reischuk commented on #22
https://dms.licdn.com/playback/C4D00AQGatQUKBbECVw/9d2f6d75cabc4d44bdc4714f4e4bc51e/feedshare-mp4_500/1479932728445-v0ch3x?e=1511423213&v=alpha&t=dLMA95-EfbAjVNZIuDWzEeSyS1joYlV2ul4lI1C_AZQ

[2017-11-26 13:31] bruderol commented on #23
To be honest: I am a little bit bored of this dogmatic discussions about trunk based versus feature branches and especially of people fighting against feature branches. For me it is not one or the other - you usually have to use both in conjunction for a larger software project. I consider git flow a great model when doing it right. For me it has become a defacto standard in the git world. And tha

[2018-01-05 10:22] m3mitsuppe opened #52 "Why You Should Create a Paper Prototype - And How to Test it With Your Users"
Co-author: Manuel Jung

The article summarises the many advantages of creating and testing a paper prototype:

* quickly put down your first design ideas, get the design process going
* focus on the important stuff: navigation, workflow, organisation of content
* don't waste you time with details or "realistic" designs unless the basics have been validated
* get the most relevant user feedback rea

[2018-01-17 09:45] abeggchr commented on #52
Thanks for your announcement - looking forward to reading it!

[2018-01-22 08:59] stefanreichert opened #53 "Article: LEAN StartUp - Build, Measure, Learn!"

[2018-01-31 16:18] abeggchr commented on #21
@adiherzog can you assign yourself to this issue? I can't... You somehow do not appear when I enter "adiherzog"

[2018-01-31 16:20] abeggchr commented on #24
@tknerr can youconfirm, that you will write the article? Or shall we put the "author wanted" label?

[2018-01-31 19:25] reischuk opened #54 "Watch your state"
Managing state at the right location does not only result in improved security, but may also speed up your life. It's not necessarily about your IT, but about your processes, essentially about your life.

[2018-01-31 19:30] abeggchr commented on #54
Great! Looking forward to the bridge from IT to my life.

[2018-02-01 05:38] smurve opened #55 "When SWE meets ML"
Machine Learning and Software engineering require different practices to be efficient and successful. These practices need to become one when ML artifacts are supposed to go into production.

[2018-02-01 08:20] dmlfra opened #56 "Article: Your team needs a Tech Lead, not a Lead Techie"
**authors**

- Daniel Mölle (dml)

**teaser**

- Essentially, this article will be about the soft, non-implementation aspects (that are so crucial but easily forgotten in an engineering world)
- The author's perspective will be the one of an Embedded Systems Lead SW Architect, but most of the statements should be valid for other domains as well
- More specifically, the article will contain what I

[2018-02-01 22:04] tknerr commented on #24
Yes I will. At least I want to, definitely. What's the deadline, actually?

I'm drowning in project work currently and don't find the time right *now* :-/

[2018-02-04 10:11] milanm opened #59 "Clean and cleaner code"
In this article I want to tackle the clean code set of practices for writing clean and beautiful code. Only by respecting these practices one we achieve efficient work and to meet a deadlines.

[2018-02-05 06:37] adiherzog commented on #21
@abeggchr I can't change the assignment of the article. Could you please check my permission?

![image](https://user-images.githubusercontent.com/3780183/35791285-663719ea-0a47-11e8-9ce1-8b0f3f4518bf.png)

[2018-02-05 19:24] abeggchr commented on #24
Great! I expect the article to be written and reviewed by the end of August. So whenever you are not drowning...

[2018-02-05 19:28] abeggchr commented on #42
@adiherzog, @tobiaszuercher, @damphyr - still looking for an author for the important topic "How to avoid / deal with flaky system tests". Can anyone commit?

[2018-02-06 07:46] adiherzog commented on #42
@abeggchr I'll take it, but can't assign myself... could you please check my permission?

[2018-02-06 09:43] djelekar opened #60 "Article: "You're not a Software Engineer!" -What am I then?"
A short answer: **problem solver & people-pleaser**

A long answer: will be provided in the article.

When you work as a service provider, you cannot be a "code monkey". I offer a mind-shift, redefinition of engineering role in which you are here to solve problems of the business and actually make people happy. While programming is just a marginal tool in doing so.

[2018-02-06 10:06] mogomm opened #61 "Why digital transformation is so damn difficult"
I wrote some blog articles no business models and business innovation and since some of them got quite some positiv feedback I would like to write an article on this

[2018-02-06 13:40] stephanwehrli opened #62 "The Startup Mindset"

[2018-02-06 15:13] estfra opened #63 "Article: Successful Agile Device Development with Continuous System Integration"
**author**

Erik Steiner (est)

**teaser**

- The concept of continuous integration of software extended to the development of systems containing electronics, mechanics, embedded software and PC software
- The article will be based on my post to the Zühlke Blog: https://www.zuehlke.com/blog/en/agile-system-development-part-2-continuous-system-integration-3/

(The title might need some rework.)

[2018-02-07 09:00] abeggchr commented on #33
Described in "advanced contriution topics"

[2018-02-07 09:00] #33 closed

[2018-02-07 09:00] abeggchr commented on #18
Described in "advanced contribution topics"

[2018-02-07 09:00] #18 closed

[2018-02-07 09:01] abeggchr commented on #8
done

[2018-02-07 09:01] #8 closed

[2018-02-07 09:54] DennisAhrens opened #65 "Article: <Holodeck will become reality >"

[2018-02-07 10:52] susanengel-z commented on #14
"A 50-year lesson in innovation and agility" or "Lessons from 50 years of innovation and agility' - just to show we were agile and innovative before it was 'in' :D

[2018-02-07 18:10] Tom274 opened #66 ""They are all engineers but working pretty different: software-, electronics-, mechanics-engineers"[wet]"

[2018-02-08 19:11] abeggchr opened #69 "Article: Transitioning systems engineering into the lean-agile world"
by Rolf M.

[2018-02-09 19:40] simonlmn opened #71 "Article: Make and keep your tests run fast"
Author: Simon Lehmann (sile)

Motivation for this articles comes from the experience that execution time of tests quickly becomes a problem that can/could be avoided (to some extent).

My rough ideas on contents:
- Outlining impact of "slow" (actually: long running) tests
   - tests are not run at all/with every change
   - tests are only selectively run (creating undocumented knowledge about whic

[2018-02-10 07:45] tknerr commented on #71
+1 so much! :)

[2018-02-11 13:57] RomanoRoth opened #72 "Article: CYA: cover your ass"
TBD

[2018-02-13 10:36] sernst-zch commented on #14
@susanengel-z 👍 ... or "Agile before it was cool" as main heading and "97 ?learnings? after half a decade of experience"

[2018-02-13 10:40] sernst-zch commented on #14
or simply. "How to Zühlke" as main and "Best practice from the inside of an engineering company existing since 50 years"

[2018-02-14 07:16] adiherzog commented on #42
Plugin for Jenkins: https://wiki.jenkins.io/display/JENKINS/Test+Results+Analyzer+Plugin

[2018-02-14 07:25] abeggchr commented on #29
"Author Wanted" because Rolf has not yet confirmed he writes the article

[2018-02-14 07:38] abeggchr commented on #23
putting the "author wanted" label because it is unclear whether this article gets written

[2018-02-14 19:58] abeggchr commented on #14
So, we are looking for a new title. A title that captures the vision and sells it to potential readers.

And an additional aspect came up: it would be great to find a claim which serves as a "red line" throughout the book and to which all articles can connect to. A first idea in this direction is "Facets of Digitalization"

The discussion is open - for title and claim!

[2018-02-14 20:00] abeggchr commented on #14
"This Is How We Do It"
"How Zuehlke ticks"
"How we tick"

[2018-02-16 12:25] Spontifixus opened #73 "Article: Application First - A Bottom Up Architecture Approach"
A well-known scenario seen in almost any larger IT-department is the development of a whole set of similar but slightly different applications built on a shared technical basis.  During the lifecycle of these applications different teams get their hands on them: Initially during development and later on for maintenance.  To ensure this can be done efficiently a common pattern is to set up a "frame

[2018-02-17 06:12] abeggchr opened #74 "Kundeninteraktion im digitalen Zeitalter: oder warum der Kunde über den Prozessen steht [beb]"
Ein Thema aus der agilen Business-Analyse

[2018-02-19 10:12] florian-besser opened #75 "Article: CI and CD done right"
- How to trigger build on every push
- How to have multiple branches run in parallel if the tests depend on fixed files or DB
- How to deploy software on servers you don't know the state of
- How to check status of running software and aggregate it

[2018-02-19 10:18] florian-besser opened #76 "Article: Containerization and how to use it"
A deep dive into why containerization exists, and how you can use it to better your life.

Basically:
- Containerize your DB for concurrent test
- Containerize your app for concurrent runs of different versions (why not have QA and Integration run on the same hardware?)
- Containerize your CI slaves for performance on demand
- How to orchestrate / support / debug such a number of containers succes

[2018-02-19 14:10] tknerr commented on #75
+1, would be interested in this and can provide input as well

[2018-02-19 14:11] tknerr commented on #76
+1, sounds super interesting!

[2018-02-19 17:16] zis-meyer opened #77 "Article: The Chameleon and the Evangelist"
Coping strategies when you have to work with tools you don't like

[2018-02-23 15:46] lachenma opened #78 "Advise: Do's and Dont's of BDD in practice"
- Why BDD?
- BDD in theory
   - 3 Amigos
   - Living documentation
   - Testing Pyramide and Quadrants
- BDD in practice
   - Agile Projects
   - CI and CD
   - Best practices

With @SvenBayer and @birynk

[2018-02-24 16:59] sjanisch opened #79 "Article: Discipline Flow"
The basic idea is drafted here https://confluence.zuehlke.com/x/44aLAQ

[2018-02-24 17:03] sjanisch opened #80 "Article: Architectural Programming"
The general idea is drafted in context of our APRG topic: https://confluence.zuehlke.com/x/FwDc

For a bit more specific perspective with a connection to IaC see our meetup material here: https://confluence.zuehlke.com/x/HADNAg

[2018-02-27 13:11] jasofalcon opened #81 "Article: Frontend is Engineering"
Based on statistics from
1) https://insights.stackoverflow.com/survey/2017#technology-programming-languages and
2) https://medium.freecodecamp.org/best-programming-languages-to-learn-in-2018-ultimate-guide-bfc93e615b35

it is obvious that frontend and/or javascript ecosystem is mature enough for serious engineering.

With all the tools you can wish for and standards enabling you to write 'proper'

[2018-02-27 16:30] yellboy opened #82 "Article: From focus group enthusiasm to commercial success"
Is there an area you are enthusiastic about, but don't have an opportunity to explore?
If your answer is **YES**, then this article is made for you.

Everyone wants to transfuse their enthusiasm into something tangible. And Zuehlke is a company where you can easily achieve this. This article will show you how. It will give you guidelines how to push your idea all the way to the top.

This is what

[2018-02-28 09:36] abeggchr commented on #82
Great topic! Looking forward to read about it.
But: Please be aware, that your article will not only be available internally but also to a wider non-Zuhlke public. Therefore you should focus on the general process of exploring and building your ideas and write less about the internal structures.

[2018-02-28 09:43] abeggchr opened #83 "Article: Someting about UX, related to the title/claim which is yet to be found"
github proxy by abeggchr

[2018-02-28 11:00] SvenBayer opened #84 "Article: Fast tracking into new projects through note-taking"
In this article you will learn techniques that will allow you to fast track into new projects by using organised notes both on paper and in digital format. This will help you become an independent and productive team member so you can contribute early on to the project's performance.

This article will be a summary (a lot shorter) of my upcoming blog-post.

[2018-02-28 15:14] ognjen-blagojevic-zuehlke opened #85 "Article: Do something about that slow SQL query"
Article for beginner to intermediate developer using SQL (or using ORM framework) how to analyze and optimize SQL queries.

Understanding the physical layout of DB tables and indexes; differences between index, bitmap and heap/table scan; advices on good and bad practicies when writing queries.

[2018-02-28 15:27] ognjen-blagojevic-zuehlke opened #86 "Article: Pragmatic documentation"
People don't like to write something that no one will read. People don't like to read unnecessery stuff. People don't like to waste time searching for documentation.

How to be pragmatic about documentation? Always think about the roles (users, developers, release managers, ops...), interview people in these roles what information are they missing, put information on place where they would usually

[2018-02-28 17:14] popredrag opened #87 "Beauty of Distributed Development (DD)"
Yeah, we know it saves money but what else? Let’s talk about the beauty aspect of Distributed development and hear some testimonies from our experienced distributed developers. Learn more about the effect of culture diversities, opportunities to meet new people around the world, travels, new position opportunities, international company setups and a good way to make your daily work fun.

[2018-02-28 17:17] popredrag opened #88 "Article: (Distributed Development) You DiD what???"
Is it an outsourcing?! Is it a team sourcing?! No! It is the Distributed development!
Dive into Distributed development topic and get all the information you need.
What is it? How does it work? What are the main benefits? What are the challenges and how to overcome them? What can you distribute? What setup do you need for it? Get all the information needed to kick off the project in Distributed De

[2018-02-28 18:42] gabduss opened #89 "Article: Why You Need to Go Visual"
This article is about why you should sketch more in your daily work and why you should use the power of shapes and colors in your documentation.
With the help of illustrations, you can transfer knowledge in a way that is faster, easier to remember and you can prevent misunderstandings.

[2018-02-28 18:57] masizuehlke opened #90 "Team Fit"
Company culture starts with interviews.
As a seed needs to fit the land, engineer need to fit to team in order to grow.
In this article, I will explore which personal traits and characteristics make someone to be a team fit and how they align with our values.

[2018-03-01 18:48] abeggchr commented on #89
Looking forward to this! What area are you writing about? Software design, UX or more general?

[2018-03-04 18:37] gabduss commented on #89
The general visualization will be discussed in the beginning. But most of the article will be about software design.

[2018-03-05 07:57] yellboy commented on #82
Thanks. You are right, I will tend to make it as general as possible.

[2018-03-06 07:28] doogu opened #91 "Article: AMS Team Setups"
AMS Team Setups
by tkrs & guan

Abstract:
The setup of Agile Software Development teams changes when approaching the Live phase of a project. New team members with skills required for Application Maintenance join the team and the state of the production environment becomes more and more a topic of the team's daily business. The article at hand presents a set of team setups, including Fixed-, Rotat

[2018-03-07 08:45] abeggchr commented on #91
Great topic! Looking forward to reading it.

A word of caution: Please be aware, that your article will not only be available internally but also to a wider non-Zuhlke public. Therefore you should not go too much into Zuhlke specifics but stay on a general level.

The thing that worries me is the "AMS" in the title - it is not a known term for non-Zuhlke readers. The abstracts looks perfectly fine

[2018-03-07 09:16] abeggchr opened #92 "Enhance group of lead authors"
Lead authors review articles and decide on important things in the project: 5 persons assembled by the hollywood principle "don't call us, we call you"

[2018-03-07 09:16] abeggchr commented on #92
[ka] is in

[2018-03-07 09:21] abeggchr opened #93 "Decide: self-publish vs. published"
Let a publisher publish the book or do a form of self-publishing, probably only internally.

[2018-03-07 09:28] abeggchr commented on #93
**"self-published": We print and distribute the book ourselves**.

Pros:
- less need to make it a "book that sells"

Cons:
- breaking an implicit promise of publicity ("you'll be able to order the book on amazon")
- only available internally

**"published": We find a publisher who prints and distributes the book**

Pros:
- publicity / order on Amazon
- printing cost covered (except for the books w

[2018-03-07 16:25] jrothwell opened #94 "Article: If You Like It, Then You Shouldn't Put Some Code In It"
Sometimes, the best solutions are the ones that don’t exist. The ones where we’ve taken a step back and said, “let’s do something low-tech,” or “let’s not do anything at all.”

[2018-03-08 10:26] sweinzie opened #95 "Time to Say Goodbye - What Should be Considered for a Successful Project Completion?"
Setup a project in an efficient way is not an easy task. To share visions of the project or of the project lead, to ensure that all are aligned and have a common understanding of how the project will be managed. In the meantime, most of the project leads started to have kick off workshops, not only 1h but one day with teambuilding and vision sharpening, not only once but depending on the project d

[2018-03-08 10:27] sweinzie opened #96 "“As long as you put your Feet Under my Table” - If the Project Manager Leads Differently than I Would"
After 1.5 years solely “Zühlke project teamwork” a colleague transferred to a project team with people from several service providers. After a few days he complained the way of working and the approach in his new project was so completely different compared to what he was used to work with Zühlke teams. He was afraid that this will not become a successful project following this approach.

Another

[2018-03-08 10:28] sweinzie opened #97 "Personal Growth - Why every Project Should Have Gardeners"
Everyone started small. Even the tallest and strongest tree started as a seed and over time, thanks to a lot of sunlight, rainfall and good soil it became a deep-rooted, reliable and sturdy tree. And every year in the summertime it offers shade and fruits to anyone who appreciates it.
Very much the same also applies to us, people who are involved in project work, where we try to give our best effo

[2018-03-09 15:30] doogu commented on #91
Thanks!
Agreed regarding the title, that needs adaption. However, it needs a title, that still transports the Zuehlke way somehow -> e.g. _Maintenance_ or _Operations Teams_ is too limited, _DevOps Teams_ is better, but might confuse as well. Needs further thinking ^^

[2018-03-14 08:53] matthias-meid opened #98 "Article: You always have time for a proper root cause analysis"

[2018-03-14 13:20] yellboy opened #99 "Article: Work hard, enjoy your life, stay healthy, sleep good. All at once. BUT HOW!?"
We all know that Zuehlke engineers are dedicated workers. On the other hand, we are aware what struggle it can be to balance your professional life with your private life and stay healthy. But, believe it or not, it is possible. And this article will show you how.

[2018-03-20 19:06] abeggchr commented on #92
[bro] is in
[pgf] is in

[2018-03-27 17:57] abeggchr commented on #14
Had a very good session with Markus where we came up with the idea of structuring the articles related to "solutions": The technical solution, the shiny solution, the validated solution ....

This is one option for structuring and then the title/claim would be related to "solutions"

[2018-03-27 18:07] abeggchr commented on #93
third option:
**"book on deman": We find a book on demand provider who prints and distributes the book**

Pros:
- publicity / order on Amazon
- less effort for distribution / storage

Cons:
- we have to cover the printing and lectorate cost

[2018-04-03 18:44] sjanisch commented on #14
"The DNA of the Zühlke Group"

[2018-04-04 08:31] abeggchr opened #100 "Article: Die beste Technologie ist nicht immer die beste Wahl"

[2018-04-04 18:32] masizuehlke commented on #14
Thinking out loud.

Collection of thoughts, ideas, practices and wisdoms crafted in pot of our experiences in Zuhlke.
Summing all years of experience of people who will contribute, that would be a centuries.
All together  - priceless. Generous & selfish act,

So...what about tile - "Gift"?
Of same root, difference perspective - "Out of experience"

[2018-04-06 07:02] arnemertz opened #101 "Article: Resist the urge to optimize"
Especially in languages that are supposed to be very performant, many developers tend to feel the need to write performant code. Code gets written in a specific way "because it's faster", usually coming with a number of problems:

* Readability is sacrificed to the performance god and clean code principles are willfully or ignorantly violated. (reference to #59 )
* It is not proven by a profiler t

[2018-04-10 12:15] adiherzog commented on #14
Wisdom is not a countable noun. So wisdoms does not exist and therefore I don't like WisdomZ either.

[2018-04-11 06:44] igr opened #102 "Article: The Idea Behind the Documentation"
Why do we write documentation? What is the purpose of the documentation? What is the right amount?

The article would address the following points:

+ Write documentation before the code (Documentation Driven Development)
+ Documentation should serve to fill the gap in communication
+ Documentation is everything: UX, API, code, decisions.
+ Write testable documentation.

[Read article here](https:

[2018-04-11 06:47] igr opened #103 "Article: The Sole Ingredient for Efficient Teams"
If there is just one single thing that I would emphasize on how to make efficient teams - that would be the _trust_. Happened that Google's research says the same.

[Read it here](https://translate.google.com/translate?sl=sr&tl=en&js=y&prev=_t&hl=en&ie=UTF-8&u=https%3A%2F%2Foblac.rs%2Fpogon-tima%2F&edit-text=&act=url) - translated using Google.

[2018-04-11 06:52] igr opened #104 "Article: What Does It Means to Be A Senior Engineer?"
A 'senior' label on some position is nothing related to ages of the person. For that reason, I avoid that naming and use _mature_ instead. What does it mean?

[Read it here](https://translate.google.com/translate?hl=en&sl=sr&tl=en&u=https%3A%2F%2Foblac.rs%2Fmatori-senior%2F) - translated by Google.

[2018-04-11 07:00] igr opened #105 "Article: Optimization and Realization"
The famous saying: "Premature optimization is the root of all evil." - is not about performances, as I have been thinking. It is about the values that codes brings back.

During the development, you always have to be aware of what you are working on: is this a core concept that brings value to the product, or it is an optimization, where no new value is added. There is a need for both. But you mus

[2018-04-11 07:22] igr opened #106 "Article: 10 Simple Rules I would Tell Myself 15 years Ago"
Here are 0x0A advices. They seems simple but can be very powerful in the right hands. Don't follow them, but challenge them instead; make your own list.

+ **Refactor a lot.** Don't refrain just because the current code works. Development is not about writing the code, it's about refactoring so it becomes more understandable to the human readers, not computers.
+ **Naming is a king.** Invest time

[2018-04-24 19:48] jasofalcon commented on #81
@abeggchr I had a thought about renaming the article. Something like "Frontend is not your enemy anymore"

[2018-06-10 11:09] igr opened #118 "Article: Never Forget"
# Never Forget

We code software. Every day, every hour; an endless stream of code gets written and merged into the products. The human's codebase is _massive_. Space Shuttle is working with 400K lines of codes. Large Hadron Collider takes 50 million lines. And all Google services combined work on 2 billion code lines.

The software runs technology. Tech becomes omnipresent in our lives; from pock

[2018-06-10 13:40] igr commented on #102
# THE IDEA BEHIND THE DOCUMENTATION

Documentation is probably one of the most underestimated practices in software development. Somehow we all agree that documentation is a necessity, yet we end up something that is more a burden than a valuable artifact.

Why do we write the documentation? More specifically, what is the purpose of the documentation that brings the value to the project? In my und

[2018-06-10 13:58] igr commented on #103
# The Sole Ingredient for Efficient Teams

There is one 'substance' that is necessary for an effective team. It's not the magic, just common sense; but it's often is taken for granted and thus maked less significant.

It is less important who is on the team. It is less important how knowledgeable are the team members. It is less important which software practices were applied. What it's important

[2018-06-10 14:39] igr commented on #104
# What Does It Means to Be A Senior Engineer?

Very often a person is entitled as a "Senior software developer". Such naming is very unprecise: what does it mean to be a "senior" in the first place?

Does one become a senior after N years of professional work? Is a senior someone who just gets old(er)? Does one become a senior sooner if he/she learns everything about a software framework? Is a sen

[2018-06-10 15:09] igr commented on #105
# Optimization and Realization

There is no developer that haven't heard the famous Donald Knuth's saying: "Premature optimization is the root of all evil." Often this sentence is understood in the context of the performance: speed of the software execution. However, it talks more about something else instead.

It's about _the value_ that some code brings into the product.

During the development,

[2018-06-30 05:53] abeggchr commented on #78
All the best!

[2018-07-10 09:14] florian-besser commented on #76
During writing the article I've found the topic oh how to use containerization boring and generally easy to solve (it would have been a collection of things you can use containerization for and that is unnecessary once you have a general view of the concept).

So I've focused more on the why; I've seen many engineers use containerization to do good things but getting held back by others that don't

[2018-07-11 07:41] abeggchr opened #121 "Article: Business Readyness"
proxy for ina

[2018-07-13 08:56] m3mitsuppe commented on #52
Hi @abeggchr, can you please also assign juma89 (co-author) to this issue? Looks like I do not have the permissions (?)

[2018-08-29 03:35] peitor commented on #69
Review was done. Minor changes were incorporated by RolfM.
Good to go @abeggchr

[2018-09-04 05:16] abeggchr commented on #101
Are you still working at Zühlke? I can't find you in the address book...

[2018-09-04 05:18] abeggchr commented on #27
Still no author?

[2018-09-04 05:38] arnemertz commented on #101
I am, at the Hamburg office.

[2018-10-28 19:01] igr opened #146 "Article: Don't teach kids programming"
Programming is coming more and more into the primary schools. This initiative is recognized all around the world - many kids are being taught programming.

Stop! We're wrong! Do not teach children programming!

The assumption is wrong. What we are doing is observing the present and we notice the rising trend of the need for developers. We extrapolate this fact and base the future on it, with the c

[2018-11-02 11:03] peitor opened #149 "Article: What’s wrong with: “I don’t write any tests since I am not a tester”?"
A version of this
https://www.zuehlke.com/blog/en/whats-wrong-with-i-dont-write-any-tests-since-i-am-not-a-tester/

[2018-11-02 11:05] peitor opened #150 "Article: How do you get from Checklists to Empathy?"
Eine Vertiefung in das
http://business-agility.tumblr.com/post/171202748974/how-do-you-get-from-checklists-to-empathy

[2018-11-02 11:08] peitor opened #151 "Article: If 99% of all Startups fail, why would Enterprises behave like a Startup???"
Recap of this
   http://business-agility.tumblr.com/post/132714222320/if-95-of-all-startups-fail-why-would-enterprises

[2018-11-07 09:11] abeggchr opened #155 "Article: Erklären allein reicht nicht"
https://www.zuehlke.com/blog/know-how-transfer-erklaeren-allein-reicht-nicht/

[2018-11-21 10:09] abeggchr opened #156 "Article: Silos are for farmers"
https://creativeheldstab.com/silos-are-for-farmers/

[2018-11-22 19:48] #31 closed

[2018-11-25 15:08] abeggchr opened #158 "Article: Architectural programming"
related to #80

[2018-11-28 20:22] abeggchr opened #161 "Umschlagtext"